.navbar-brand,h5
{
  color:#f1356d;
}
.navbar-brand:hover
{
  color:#f61b5d;
}
.App >.container
{
  max-width: 700px;
}
.blog:hover
{
  box-shadow:5px 5px 10px #e2e2e2;
  cursor:pointer;
}
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 80vh;
}

.load div {
  background-color: #f1356d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  animation-name: spin;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.load div:nth-child(2) {
  animation-delay: .2s;
}

.load div:last-child {
  animation-delay: .4s;
}

@keyframes spin {
  to {
      opacity: 0.5;
      transform: translatey(-50%);
  }
}
a,a:hover{
  text-decoration: none;
  color: inherit;
}

textarea
{
  height: 125px;
}

::-webkit-scrollbar,textarea::-webkit-scrollbar
{
  width:10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb {
  background: #f1356d;
  border-radius: 10px;
  
}
.form-label
{
  color:#6c757d;
}
.form-control:focus,.form-select:focus
{
  border-color: #f1356d4f;
  box-shadow: 0 0 0 0.25rem  #f1356d4f;
}