.navbar-brand,h5
{
  color:#f1356d;
}
.navbar-brand:hover
{
  color:#f61b5d;
}
.App >.container
{
  max-width: 700px;
}
.blog:hover
{
  box-shadow:5px 5px 10px #e2e2e2;
  cursor:pointer;
}
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 80vh;
}

.load div {
  background-color: #f1356d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  animation-name: spin;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.load div:nth-child(2) {
  animation-delay: .2s;
}

.load div:last-child {
  animation-delay: .4s;
}

@keyframes spin {
  to {
      opacity: 0.5;
      transform: translatey(-50%);
  }
}